.containerWrapper {
  --artist-card-width: clamp(360px, 46.199vw, 632px);

  padding: 80px 96px;
}

.container {
  display: flex;
  gap: 62px;
  height: 100%;
}

.text {
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.06em;
}

// .image {
//   width: 54%;
// }

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__title {
    font-family: var(--font-better-vcr);
    font-size: 40px;
    color: var(--color-text-primary);
  }

  &__subtitle{
    font-family: var(--font-feature-mono);
    font-size: 20px;
    color: var(--color-bg-secondary);
  }
}