.artistSettingsDelivery {
  width: 100%;

  &Options {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }
}

.artistSettingsTitle {
  font-family: var(--font-better-vcr);
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.06em;
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-bg-secondary);
  margin-bottom: 28px;
}
