.cdek {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &PickPointPicker {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 859px) {
      flex-direction: column;
    }
  }

  &PickPointsWidget {
    width: 100%;
    aspect-ratio: 1/0.75;
  }
}

.title {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-bg-secondary, #b5b5b5);
  font-family: var(--font-better-vcr), var(--font-vcr), sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.06em;
}

// стили для элементов внутри виджета СДЕК
.payment {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 125px;
  left: 0;
  width: 100%;

  &Title {
    color: #44403c;
    font-weight: 700;
  }

  &Data {
    position: relative;
    background-color: rgba(51, 85, 104, 0.05);
    border: 1px solid transparent;
    color: #44403c;
    border-radius: 6px;
    padding: 12px;
    min-height: 100px;
    width: 100%;
    font-weight: 700;

    &:hover {
      background-color: rgba(26, 178, 72, 0.1);
      cursor: pointer;
    }

    &.active {
      background-color: rgba(26, 178, 72, 0.1);
      border: 1px solid rgb(26, 178, 72);

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        right: 10px;
        width: 25px;
        height: 25px;
        z-index: 10;
        background-color: rgb(26, 178, 72);
        -webkit-mask-image: url("/icons/cdek-checked.svg");
        mask-image: url("/icons/cdek-checked.svg");

        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
      }
    }
  }

  &DataDetails {
    margin-block-start: 10px;
    font-weight: 400;
  }
}

// временно скрываем и блокируем кнопку выбора тарифа в виджете когда тариф выбран
.hiddenButton {
  visibility: hidden;
  pointer-events: none;
}

// стили для выпадающего списка населеннных пунктов
.suggestionsList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10000;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;

  &Item {
    padding: 8px 12px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f0;
  }
}

// скрываем инпут для поиска города на виджете
.cdekPickPointsWidget {
  :global(.ymaps3--controls_left) > :first-child {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
}

.cdekPickPointsWidget {
  :global(.cdek-qmwuzg) {
    position: relative !important;
  }
}

.cdekCity {
  gap: 0;
  & input {
    height: 40px;
  }

  & label {
    letter-spacing: -.06em;
    line-height: 1.3;
  }
}

