BASE_API_URL=https://dev.zvuchno.space/api
NEXT_PUBLIC_BASE_API_URL=https://dev.zvuchno.space/api

# AythProviders

GOOGLE_CLIENT_ID='googleClientId'
GOOGLE_SECRET='googleSecret'
YANDEX_CLIENT_ID='yandexClientId'
YANDEX_SECRET='yandexSecret'
VK_CLIENT_ID=''
VK_SECRET=''

# AythConfig

NEXTAUTH_SECRET='nextsecret'
NEXTAUTH_URL='http://localhost:3000'

# CDEKWidget

NEXT_PUBLIC_YANDEX_MAPS_API_KEY='yandex-api-key'
NEXT_PUBLIC_CDEK_SERVICE_PATH=https://dev.zvuchno.space/api/v1/store/cdek/widget

#DaData

NEXT_PUBLIC_DADATA_API_KEY='da-data-secret-api-key'

#origin для proxy BBF
FRONTEND_ORIGIN=https://dev.zvuchno.space