BASE_API_URL=https://dev.zvuchno.space/api
NEXT_PUBLIC_BASE_API_URL=https://dev.zvuchno.space/api

# AythProviders

GOOGLE_CLIENT_ID='googleClientId'
GOOGLE_SECRET='googleSecret'
YANDEX_CLIENT_ID='yandexClientId'
YANDEX_SECRET='yandexSecret'
VK_CLIENT_ID=''
VK_SECRET=''

# AythConfig

NEXTAUTH_SECRET='nextsecret'
NEXTAUTH_URL='http://localhost:3000'
