.financeStatement {
  display: flex;
  gap: 30px;
  border: 1px solid var(--color-text-primary);
  min-height: 104px;
  padding: 40px 50px;
  max-width: 972px;
  width: 100%;
  font-family: var(--font-feat);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.04em;
  color: var(--color-text-primary);

  @media (max-width: 950px) {
    padding-inline: 20px;
    gap: 15px;
  }

  @media (max-width: 768px) {
    gap: 30px;
  }

  @media (max-width: 480px) {
    padding-inline: 15px;
    gap: 10px;
  }

  /*&Details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-inline-start: 80px;
    padding-block-end: 40px;

    @media (max-width: 450px) {
      margin-inline-start: 15px;
      padding-block-end: 15px;
    }
  }*/

  &Item {
    width: 100px;
    font-family: var(--font-feat);
    font-size: 12px;
    font-weight: 700;
    line-height: 5 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:last-child {
      width: 80px;
      flex-shrink: 1;
    }

    &:nth-child(3) {
      flex: 1;
    }

    @media (max-width: 1024px) {
      width: 90px;
    }

    @media (max-width: 850px) {
      width: 80px;

      &:last-child {
        max-width: 80px;
      }

      &:nth-child(2) {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }

    @media (max-width: 768px) {
      &:last-child {
        width: 80px;
        flex-shrink: 1;
      }

      &:nth-child(2) {
        flex-grow: 0;
        flex-shrink: 0;
      }

      &:nth-child(3) {
        flex: 1;
      }
    }

    @media (max-width: 480px) {
      width: 80px;

      &:last-child {
        width: 55px;
        flex-grow: 0;
      }

      &:nth-child(2) {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }

  &Link {
    color: var(--color-bg-secondary);
  }

  &Button {
    margin-inline-start: 26px;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &Image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      line-height: 0;
      transform: transform ease 0.3s;

      &.open {
        transform: rotate(90deg);
        transition: transform ease 0.3s;
      }
    }
  }
}
