.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: color-mix(in srgb, #a2a2a2 60%, transparent);
  backdrop-filter: blur(4px);
  z-index: 1;
  overflow: hidden;
}

.modal {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 0px color-mix(in srgb, #000000 25%, transparent);
  z-index: 2;

  &CloseButton {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    line-height: 0;
  }

  &Content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}



