.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;
  width: 100%;
  padding: 54px 24px 33px;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border-top: 2px solid var(--outline-color);
}

.genreFilter {
  grid-column: 1 / -1;
}

.categoryFilter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}