.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 54px;
  width: 100%;
  padding: 54px 24px 33px;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  border-top: 2px solid var(--outline-color);
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-family: var(--font-better-vcr);
    font-size: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.genreFilter {
  grid-column: 1 / -1;
}