.hero__container{
  width: 1368px;
  height: 764px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 120px 24px 77px 24px;
  background-color: var(--color-bg-secondary);
  background-image: url('/image_main_hero.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size:auto;
  border: 2px solid var(--color-text-primary);
  box-shadow: 4px 4px 3px 1px #000000BD;
  gap: 90px;
}

.hero__text {
  font-family: var(--font-feature-mono);
  font-weight: 700;
  line-height: 40px;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  z-index: 1;

  &_left {
  color: var(--background);
  text-align: left;
  margin-bottom: 5px;
  }

  &_right {
  color: var(--color-text-primary);
  text-align: right;
  }
}

.hero__h1 {
  font-family: var(--font-better-vcr);
  font-weight: 400;
  line-height: 220px;
  font-size: 220px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: var(--color-primary-blue);
  text-align: center;
  vertical-align: top;
  z-index: 1;
  padding-right: 14px;
}