.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 10px;
  padding-inline: 10px;
  max-width: 100%;
  color: var(--color-primary-blue);
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
  line-height: 1;

  &Page {
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &.active {
      font-weight: 700;
      opacity: 1;
      border-bottom-color: currentColor;
      pointer-events: none;
    }
  }
}
