$button-hight-large: 88px;
$button-hight-standart: 60px;
$button-hight-medium: 48px;
$button-hight-small: 44px;
$button-hight-large-mobile: 60px;
$button-hight-standart-mobile: 40px;
$button-hight-small-mobile: 28px;

$padding-20: 20px;
$padding-16: 16px;

$borger-radius-large: 48px;
$borger-radius-standart: 36px;

$font-size: 20px;
$font-size-mobile: 14px;

$font-weight-bold: 700;
$font-weight-semi-bold: 500;

$text-color-accent: #ffffff;

.button {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: $button-hight-standart;
  padding-inline: $padding-20;
  padding-block: 0;
  color: var(--color-text-primary);
  border: 1px solid var(--color-text-primary);
  border-radius: $borger-radius-standart;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  cursor: pointer;

  &Content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: currentColor;
    font-family: 'Feature Mono', monospace;
    font-size: $font-size;
    font-weight: $font-weight-bold;
    line-height: 100%;
    letter-spacing: -0.06em;
    transition: color 0.3s ease-in-out;
  }

    /* светло-голубая кнопка */
  &.primaryButton {
    background-color: var(--color-accent-blue);

    &:hover:not(:disabled) {
      background-color: #9ACAFF;
    }

    &:active:not(:disabled) {
      background-color: var(--color-primary-blue);
      color: $text-color-accent;
    }
  }

  /* серая кнопка */
  &.secondaryButton {
    background-color: var(--color-bg-secondary);

    &:hover:not(:disabled) {
      background-color: #D9D9D9;
    }

    &:active:not(:disabled) {
      background-color: var(--color-text-primary);
      color: $text-color-accent;
    }

    &:disabled {
      border-color: var(--color-bg-secondary);
    }
  }

  /* темная акцентная кнопка */
  &.accentDarkButton { 
    background-color: var(--color-text-primary);
    color: $text-color-accent;

    &:hover:not(:disabled) { 
      border-color: var(--color-primary-blue);
    }

    &:active:not(:disabled) { 
      background-color: var(--color-primary-blue);
      border-color: var(--color-primary-blue);
    }

    &:disabled {
      border-color: var(--color-bg-secondary);
    }
  }

  /* размеры */

  /* кнопка height 88px */
  &.largeButton {
    min-height: $button-hight-large;
    border-radius: $borger-radius-large;
    border-width: 6px;
  }

  /* кнопка height 48px - кнопка в ЛК Подробнее о заказе*/
  &.mediumButton { 
    min-height: $button-hight-medium;
    padding-inline: $padding-16;
  }

  /* кнопка height 44px */
  &.smallButton {
    min-height: $button-hight-small;
    padding-inline: $padding-16;
  }

  &:disabled {
    background-color: var(--color-bg-secondary);
    color: $text-color-accent;
    pointer-events: none;
    cursor: not-allowed;
  }

    /* Мобильная версия */

    @media (width <= 375px) {
    min-height: $button-hight-standart-mobile;
    padding-inline: $padding-16;

    &Content {
      font-size: $font-size-mobile;
      font-weight: $font-weight-semi-bold;
    }

    &.largeButton {
      min-height: $button-hight-large-mobile;
      border-width: 4px;
      padding-inline: $padding-20;
    }

    &.smallButton {
      min-height: $button-hight-small-mobile;
    }
  }
}


