.cartItem {
  position: relative;
  display: flex;
  gap: 40px;
  padding: 22px 20px;
  border: 1px solid var(--color-text-primary);
  width: 100%;
  height: 100%;
  max-width: 666px;
  min-height: 263px;

  @media (max-width: 800px) {
    max-width: none;
  }

  @media (max-width: 499px) {
    flex-direction: column;
    height: auto;
  }

  &.outOfStock {
    border: 1px solid rgba(16, 15, 13, 0.4);

    & .cartItemImage,
    .cartItemContent {
      opacity: 0.6;
    }

    @media (max-width: 499px) {
      padding-block-end: 50px;
    }
  }

  &Title,
  &Sum {
    font-family: var(--font-feature-mono), monospace;
    font-size: 28px;
    letter-spacing: -0.08em;
    font-weight: 400;
    line-height: 1;
  }

  &Specification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    height: 100%;
    width: 100%;
  }

  &Details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &Counter {
    display: flex;
    gap: 10px;
  }

  &Image {
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &Content {
      width: 100%;
      height: auto;
      max-width: 196px;
      max-height: 215px;
      object-fit: cover;

      @media (max-width: 499px) {
        max-width: none;
        max-height: none;
      }
    }
  }

  &Sum {
    display: flex;
    column-gap: 20px;
    row-gap: 3px;
    flex-wrap: wrap;
    line-height: 1;
    flex: 1;
    align-items: flex-end;

    & .oldTotal {
      opacity: 0.6;
      text-decoration: line-through;
      white-space: nowrap;
    }
  }
}
