.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 510px;
  width: 100%;

  & ul {
    list-style: none;
  }
}

.tabs {
  display: flex;
  align-items: center;
  gap: clamp(15px, 1.25vw, 20px);

  @media (max-width: 800px) {
    gap: 20px;
  }

  &__item {
    font-family: var(--font-feature-mono);
    font-size: clamp(20px, 1.67vw, 24px);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: var(--color-bg-secondary);
    cursor: pointer;
    transition: color 0.3s ease;

    &_active {
      color: var(--color-text-primary);
    }

    @media (max-width: 800px) {
      font-size: clamp(18px, 3vw, 24px);
      font-weight: 500;
    }
  }
}

.desc {
  font-family: var(--font-feature-mono);
  font-size: 20px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -0.06em;
  color: var(--color-text-primary);
  display: none;
  animation: fadeIn 0.5s ease-in-out;

  &_active {
    display: block;
  }

  @media (max-width: 670px) {
    font-size: 18px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
