.artistSettings {
  display: flex;
  flex-direction: column;
  gap: 80px;
  color: var(--color-text-primary);
  width: 100%;
  max-width: 810px;
  margin-inline: auto;

  &Widget {
    width: 90vw;
    max-width: 1000px;
    height: 90vh;
    max-height: 800px;
  }
}

.hint {
  font-family: var(--font-feature-mono);
  letter-spacing: -0.06em;
  color: var(--color-text-primary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.45;
  margin-block-start: 20px;

  &Link {
    color: var(--color-primary-blue);
    text-decoration: underline;
    text-underline-offset: 2.5px;
    text-decoration-skip-ink: none;
  }
}
