.page {
  width: 100%;
  padding-bottom: 200px;
}

.container {
  overflow: hidden;
  background-color: var(--color-bg-secondary);
}

.body {
  min-height: 794px;
  padding: 3.375rem 3rem 10.375rem;
  background-color: var(--background);
}

.title {
  font-family: var(--font-better-vcr);
  font-size: 32px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.06em;
  text-transform: none;
  margin-bottom: 1.75em;
}

.section {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  //gap: 196px;

  &__content {
    flex: 1 1 auto;
    inline-size: min(100%, 63.8125rem);
    min-inline-size: 0;
    max-height: none;
    overflow: visible;
    margin-inline: 0;
  }
}

.profileInfo {
  min-height: 897px;
  margin-top: 28px;
  padding: 80px 95px 188px 96px;
  background-color: var(--background);
}

@media (max-width: 1200px) {
  .body {
    padding-right: 48px;
  }

  //.section {
  //gap: 72px;
  //}
}

@media (max-width: 768px) {
  .page {
    padding-top: 16px;
    padding-bottom: 80px;
  }

  .container {
    min-height: auto;
  }

  .body {
    min-height: auto;
    padding: 32px 16px 64px;
  }

  .section {
    flex-direction: column;
    gap: 32px;

    &__content {
      width: 100%;
    }
  }

  .profileInfo {
    min-height: auto;
    padding: 48px 16px 72px;
  }
}
