.storyContent {
  display: grid;
  gap: 16px;
}

.defaultContainer {
  padding: 32px 24px;
}

.customPaddingContainer {
  padding: 80px 64px 48px;
}

.emptyContainer {
  min-height: 160px;
  padding: 32px 24px;
}