.authForm {
  width: 36.12vw;
  max-width: 520px;
  padding-inline: 40px;
  padding-top: 20px;
  padding-bottom: 38px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
}

.forgotButton {
  background-color: transparent;
  border: none;
  color: var(--color-primary-blue);
  flex-shrink: 0;
  cursor: pointer;

  &__text {
    font-family: var(--font-feature-mono);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.04em;
  }

  &:hover {
    color: var(--color-text-primary);
  }
}

.authFormContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rememberPasswordOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
  }
}

.authErrorMessage {
  color: #dc2626;
  text-align: center;
}

@media (max-width: 1024px) {
  .authForm {
    width: 100%;
    padding: 24px 20px;
  }
}
