.authForm {
  width: 36.12vw;
  max-width: 520px;
  padding-inline: 40px;
  padding-top: 20px;
  padding-bottom: 38px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;
}

.forgotButton {
  background-color: transparent;
  border: none;
  color: var(--color-primary-blue);
  cursor: pointer;

  &__text {
    font-family: var(--font-feature-mono);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.04em;
  }

  &:hover {
    color: var(--color-text-primary);
  }
}

.authFormContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rememberPasswordOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rememberMeLabel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  color: #171717;

  & span:not(.rememberMeCheckmark) {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
  }

  &:hover span:not(.rememberMeCheckmark) {
    color: var(--color-text-accent-blue);
  }
}

.rememberMeInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.rememberMeCheckmark {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border: 2px solid var(--color-text-primary);
  background-color: var(--background);
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease;

  &::after {
    content: '';
    display: none;
    position: absolute;
    width: 6px;
    height: 10px;
    top: 3px;
    left: 3px;
    border: 2px solid var(--color-text-primary);
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
  }

  .rememberMeInput:checked + &::after {
    display: block;
  }
}

.authErrorMessage {
  color: #dc2626;
  text-align: center;
}

@media (max-width: 1024px) {
  .authForm {
    width: 100%;
    padding: 24px 20px;
  }
}
