.field {
  position: relative;
	display: flex;
  flex-direction: column;
	gap: 4px;
	width: 100%;

  &_multiline {
    gap: 8px;
  }
}

.labelContainer {
  display: flex;
  align-items: center;

    &__label {
      font-family: var(--font-feature-mono);
	    color: var(--color-text-primary);
	    text-align: left;
      cursor: pointer;

        &_size_small {
          font-size: 20px;
          font-weight: 700;
          line-height: 100%;
          letter-spacing: 0.6;
        }

        &_size_large {
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0.6;
        }
    }

    &__markRequired {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      color: var(--color-text-accent-blue);
      line-height: 100%;
      letter-spacing: 0.6;
    }
}

.input {
	width: 100%;
	border: 1px solid var(--outline-color);
  font-family: var(--font-feature-mono);
	font-size: 16px;
  line-height: 16px;
	color: var(--color-text-primary);
	background-color: transparent;

  &_multiline {
    padding: 12px 16px;
  }

  &_size_small {
    padding: 12px 32px;
  }

  &_size_large {
    padding: 14px 16px;
  }

	&::placeholder {
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		color: #A2A2A2;
	}
}

.message {
  position: absolute;
  top: 104%;
  font-family: var(--font-feature-mono);
  font-size: 12px;
  font-weight: 400;
  color: #A2A2A2;
}

.error {
	&.input {
		//outline: 2px solid red;
		border: 1px solid #FD6D4A;
	}

  &.message {
    color: #FD6D4A;
  }
}