.form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 945px;
  margin-inline: auto;
}

.label {
  font-family: var(--font-feature-mono);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: none;
}

.typeSelect {
  max-width: 134px;
  gap: 8px;

  &__select {
    border-radius: 36px;
  }
}

.tracksList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
}

.button {
  background-color: var(--color-bg-secondary);
  border-radius: 36px;
  border: none;
  padding: 10px 16px;
  font-family: var(--font-feature-mono);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.06em;
  color: var(--color-text-inverse);
  padding: 10px 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 36px;
  align-self: center;
  cursor: pointer;

  &:hover {
    color: var(--color-text-accent-blue);
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.uploadContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-block-end: 30px;

  &__uploadButton {
    max-width: 463px;
  }

  &__addButton {
    max-width: 273px;
    min-height: 36px;
  }

  &__hint {
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: var(--color-bg-secondary);
  }
}
