.navPanel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.navLink {
  @media (max-width: 800px) {
    padding-inline: 10px;
  }
}

.linkActive {
  background-color: var(--color-accent-blue);
  border: transparent;
  color: var(--color-text-primary);
}
