.artistSettingsDeliveryOptions {
  &Container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &Button {
    min-height: 36px;
    width: 273px;
  }
}

.artistSettingsDeliveryOption {
  transition: opacity ease 0.3s;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:has(*:disabled) {
    pointer-events: none;
  }
}

& .pickupPointsForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
