.section {
  display: flex;
  flex-direction: column;
  gap: 54px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__title {
    font-family: var(--font-better-vcr);
    font-size: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);//48px
    font-weight: 400;
    line-height: 141%; //68px
    letter-spacing: -0.06em;
    color: var(--color-text-primary);
    text-transform: uppercase;
  }

  &__link {
    font-family: var(--font-feature-mono);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: var(--color-text-inverse);
    padding: 10px 20px;
    background-color: var(--color-bg-secondary);
    border-radius: 36px;
    cursor: pointer;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  flex-wrap: wrap;
}