.artistForm {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    'cell-1-1 cell-1-2'
    'cell-2-1 cell-2-2'
    'cell-3-1 cell-3-2';
  column-gap: 20px;
  row-gap: 28px;

  & > [class*="cell-2-"] {
    margin-top: 12px;
  }

  & > [class*="cell-"] > * {
    gap: 0px;
  }

  & > [class*="cell-"] label {
    line-height: 130%;
    letter-spacing: -0.06em;
  }

  & input:disabled {
    opacity: 70%;
  }
}

* > .cell-1-1 {
  grid-area: cell-1-1;
}

* > .cell-1-2 {
  grid-area: cell-1-2;
}

* > .cell-2-1 {
  grid-area: cell-2-1;
}

* > .cell-2-2 {
  grid-area: cell-2-2;
}

* > .cell-3-1 {
  grid-area: cell-3-1;
}

* > .cell-3-2 {
  grid-area: cell-3-2;
}

.hint {
  grid-column: 1 / -1;
  font-family: var(--font-feature-mono);
  font-weight: 700;
  letter-spacing: -0.06em;
  font-size: 1.25rem;
  line-height: 106%;
  color: var(--color-text-primary);
}

.link {
  color: var(--color-primary-blue);
  text-decoration-line: underline;
}
