.calendarPicker {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0;

  &Wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &Message {
    color: var(--color-primary-blue);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }

  &Title {
    font-family: var(--font-feat);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.04em;
  }

  &Dates {
    position: relative;
    width: 300px;
    height: 44px;
    padding: 12px 14px 12px 15px;
    border: 2px solid var(--color-text-primary);
    display: flex;
    align-items: center;
    justify-items: flex-start;
    //gap: 10px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-basis: 300px;
    cursor: pointer;
    background-image: url("/icons/calendar.svg");
    background-repeat: no-repeat;
    background-position: right 14px top 8px;

    &::after {
      content: "-";
      position: absolute;
      left: 122px;
      top: 0;
      width: 10px;
      height: 100%;

      z-index: 1000;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }

    @media (max-width: 331px) {
      width: 284px;
    }
  }

  &Error {
    margin-block-start: -6px;
    font-size: 12px;
    color: red;
  }
}

/*.calendarPickerPopperFirst {
  transform: none !important;
  top: 55px !important;
  left: 10px !important;
}

.calendarPickerPopperLast {
  transform: none !important;
  top: 55px !important;
  left: 10px !important;
}*/

// стили для компонентов библиотеки DatePicker

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
}

:global(.react-datepicker__input-container:has(#finance-period-first-day)) {
  width: fit-content !important;
}

:global(.react-datepicker-wrapper:has(#finance-period-first-day)) {
  width: fit-content !important;
}

:global(#finance-period-first-day),
:global(#finance-period-last-day) {
  width: 112px !important;
  font-size: 20px !important;
  line-height: 1;

  ::placeholder {
    font-size: 20px !important;
    font-weight: 500 !important;
    letter-spacing: -0.04em !important;
    line-height: 1 !important;
    color: var(--color-bg-secondary) !important;
  }
}

:global(#finance-period-last-day) {
  padding-inline-start: 9px !important;
}

:global(.react-datepicker__input-container) input {
  border: none;
  box-sizing: border-box;
  cursor: pointer !important;
  caret-color: transparent !important;

  &:focus-visible {
    outline: none !important;
  }

  :global(.react-datepicker__tab-loop__start) {
    display: none !important;
  }
}

:global(.react-datepicker__month-container) {
  font-family: var(--font-feat) !important;
}

:global(.react-datepicker__header) {
  background-color: rgba(194, 223, 252, 0.5);
}
