.label {
  &Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  &AddButton {
    max-width: 463px;
  }
  &Gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(260px, 408px));
    gap: 40px;
    width: 100%;
    max-width: 916px;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: space-between;

    @media (max-width: 1026px) {
      grid-template-columns: repeat(1, minmax(260px, 408px));
      justify-content: center;
    }

    &Item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
      width: 100%;
      max-width: 408px;
      min-width: 260px;
    }

    &ArtistCard {
      width: 100% !important;
      max-width: 408px !important;

      & :global(.card) {
        width: 100% !important;
        max-width: 408px !important;
      }
    }
  }
}

:global(.labelGalleryArtistCard.card) {
  width: 100% !important;
  max-width: 408px !important;
}
