.width240 {
  width: 240px;
}

.width134 {
  width: 134px;
}

.borderRadius36 {
  border-radius: 36px;
}

.fontSize16 {
  font-size: 16px;
}

.selectOnPersonalAccountPage {
  border-width: 1px;
  border-radius: 0;
}