.select__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 648px;
  color: var(--color-text-primary);
}

.select__label {
  padding-block: 2px;
  font-family: 'Feature Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.select__wrapper {
  position: relative;
  width: 100%;
}

.select__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
  padding: 8px 10px 8px 14px;
  border: 2px solid var(--color-text-primary);
  background-color: var(--background);
  border-radius: 12px; 
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;

  &_visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &_placeholder {
     color: #9ca3af; 
  }

  &_disabled {
     color: #9ca3af; 
  }
}

.select__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 28px;

  &_rotated {
    transform: rotate(180deg);
  }
}

.select__content {
  border: 2px solid var(--color-text-primary);
  border-radius: 12px; 
  padding: 6px;
  width: 100%;
}

.select__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.select__option {
  padding: 4px 8px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 26px;
  font-size: 16px;
  font-family: 'Ubuntu', monospace;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: 5px;
  
  &[aria-selected="true"], &:hover {
    background-color: var(--search-color-btn-primary);
    outline: none;
  }
}
