.markdownDocument {
  width: 100%;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 32px 16px;
  overflow: hidden;
  letter-spacing: -0.04em;

  background-color: #f8fafc;
  color: #1e293b;
  line-height: 1.5;
  

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    max-width: 100%;
  }

  h2 {
    margin: 40px 10px 20px;
    overflow-wrap: anywhere;
  }

  p {
    margin: 0 10px 16px;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  a {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  table {
    display: table;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    margin: 24px 0;
    border-collapse: collapse;
  }

  th,
  td {
    // min-width: 180px; удалить
    padding: 10px 14px;
    border: 1px solid #cbd5e1;
    text-align: left;
    vertical-align: top;
    line-height: 1.5;
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  th {
    font-weight: 700;
    background: #f8fafc;
  }

  th:first-child,
  td:first-child {
    width: 35%;
  }

  th:last-child,
  td:last-child {
    width: 65%;
  }

  img,
  video,
  iframe {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul{
    padding-inline-start: 20px;
  }

  li {
    padding-inline-start: 10px;
  }
}