.order {
  margin-block-end: clamp(40px, 13.89vw, 200px);
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
  color: var(--color-text-primary);
  padding: 54px 46px 123px;
  border-top: none;

  @media (max-width: 768px) {
    padding: 35px 24px 100px;
  }

  @media (max-width: 375px) {
    padding: 20px 13px 100px;
  }

  &Title {
    font-family: var(--font-better-vcr), monospace;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.06em;
  }

  &Wrapper {
    display: flex;
    justify-content: space-between;
    gap: clamp(25px, 4.72vw, 68px);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &Summary {
    width: clamp(280px, 28vw, 394px);
    flex-shrink: 0;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &Details {
    width: 100%;
  }
}
