.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    font-family: var(--font-better-vcr);
    font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
    font-weight: 400;
    line-height: clamp(1rem, 0.6429rem + 1.7857vw, 2.25rem);
    letter-spacing: -0.06em;
    text-transform: uppercase;
  }

  &__tags {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}