.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  text-align: center;
  background: #fff3f3;
  border: 1px solid #ff4d4d;
  border-radius: 8px;
  margin: 2rem 0;

  &__title {
    color: #ff4d4d;
    font-weight: 500;
    font-family: var(--font-feature-mono);
  }

  &__text {
    font-size: 18px;
  }

  &__button {
    max-width: 350px;
  }
}