.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 54px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.not_found {
  margin-block-end: 200px;

  .not_found__banner {
    padding-block: clamp(10px, 4.514vw, 65px);
    gap: clamp(20px, 7.36vw, 106px);
    align-items: center;
    background-color: var(--color-accent-blue);
    height: max-content;
   

    .not_found__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 65%;
      max-width: 809px;
      gap: clamp(15px, 3vw, 43px);
      
      .not_found__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-inline-end: 10px;

        .not_found__contentText {
          font-size: clamp(102px, 32vw, 365px);
        }
      }

      .not_found__button {
        width: 87.5%;
        max-width: 321px;
        height: 60px;

        & .button_text {
          font-family: var(--font-feature-mono), monospace;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          letter-spacing: -0.06em;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}

.image_container {
  position: absolute;
  width: clamp(80px, 27.36vw, 394px);
  height: auto;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  z-index: 0;
  margin-block-start: -20px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}
