.artistSettingsDeliveryOptions {
  &Container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
  &Button {
    min-height: 36px;
    width: 273px;
  }
}

.artistSettingsDeliveryOption {
  display: flex;
  align-items: center;
  gap: 8px;

  & span {
    align-self: flex-start;
    cursor: pointer;
  }

  &Title {
    letter-spacing: -0.08em;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    justify-self: left;

    &.notAvailable {
      opacity: 0.6;
    }
  }
  /*transition: opacity ease 0.3s;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:has(*:disabled) {
    pointer-events: none;
  }*/
}

.artistSettingsDeliveryOffice {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-inline-start: 24px;
  font-family: var(--font-feat);
  color: var(--color-text-primary);
  letter-spacing: -0.08em;

  &::before {
    content: url(/icons/location.svg);
    position: absolute;
    top: 2px;
    left: 0;
  }

  &Details {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1, 6875;
  }

  &Options {
    display: flex;
    gap: 30px;
  }

  &Change {
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;

    &:disabled {
      cursor: default;
    }

    &.cdekDelete {
      opacity: 0.5;
    }
  }
}

.visuallyHidden {
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.checkboxContainer {
  display: block;
  position: relative;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.checkboxMark {
  display: block;
  width: 31px;
  height: 18px;
  border-radius: 127.27px;
  background-color: rgba(22, 24, 21, 0.3);
}

.checkboxContainer input:checked + .checkboxMark {
  background-color: #161815;
}

.checkboxMark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 14px;
  height: 14px;
  background-color: var(--background);
  border-radius: 50%;
  box-shadow: 0px 2.55px 5.09px 0px rgba(39, 39, 39, 0.1);
}

.checkboxContainer input:checked + .checkboxMark::after {
  left: calc(100% - 18px);
}
