.artistRegisterForm {
  width: 36.12vw;
  max-width: 520px;
  padding: 40px;
  background: transparent;
  box-shadow: none;
  border-radius: 8px;

  @media (max-width: 1024px) {
    width: 100%;
    padding: 20px;
  }

  @media (max-width: 768px) {
    padding-inline: 16px;
    gap: 16px;
  }

  

  // .error {
  //   width: 100%;
  //   padding: 12px 16px;
  //   background: #fee2e2;
  //   border: 1px solid #fecaca;
  //   border-radius: 8px;
  //   color: #dc2626;
  //   text-align: center;
  //   font-size: 14px;
  //   font-family: "Better VCR", sans-serif;
  //   letter-spacing: -0.04em;
  // }

  // .spinner {
  //   width: 18px;
  //   height: 18px;
  //   animation: spin 0.8s linear infinite;
  // }

  .submitButton {
    width: 100%;
    height: 44px;
    border-radius: 36px;
    background-color: var(--color-btn-accent-grey);
    border: 1px solid var(--outline-color);
    font-family: var(--font-feature-mono);
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: var(--color-text-primary);
    
    cursor: pointer;

    &:hover {
      background-color: var(--color-btn-secondary);
    }

    &:active {
      background-color: var(--foreground);
      color: var(--background);
    }

    &:disabled {
      border: transparent;
      color: var(--background);
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.6;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
