.artistFinance {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: 100%;
  padding-inline-start: clamp(0px, 5.183%, 54px);

  @media (max-width: 1024px) {
    padding-inline-start: 0;
  }

  &Empty {
    font-family: var(--font-feat);
    font-size: 20px;
  }
}
