.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__buttons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__select {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

.button.button {
  min-width: 212px;
  padding: 12px;

  & span {
    font-family: var(--font-feature-mono);
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.06em;
  }
}

.popup {
  position: absolute;
  bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 183px;
  padding: 14px 22px;
  background-color: var(--background);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 100;

  &__item {
    background: none;
    border: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
    letter-spacing: inherit;
    cursor: pointer;

    &:hover {
      color: var(--color-primary-blue);
    }
  }
}

.popup_product {
  left: 9px;
}

.popup_promo {
  right: 9px;
}