.financeStatementHeading {
  display: flex;
  gap: 30px;
  max-width: calc(100% - 115px);
  font-size: 12px;
  font-weight: 700;
  padding-inline: 51px;
  color: var(--color-bg-secondary);

  @media (max-width: 950px) {
    padding-inline: 21px;
    gap: 15px;
    max-width: calc(100% - 95px);
  }

  @media (max-width: 768px) {
    max-width: calc(100% - 110px);
    gap: 30px;
  }

  @media (max-width: 480px) {
    max-width: calc(100% - 55px);
    gap: 10px;
    padding-inline: 15px;
  }

  &Column {
    width: 100px;
    //width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:last-child {
      flex: 1;
    }

    @media (max-width: 1024px) {
      width: 90px;
    }
    @media (max-width: 850px) {
      width: 80px;
    }
  }
}
