.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 712px;
  padding: 32px 16px;
}

.text {
  font-family: var(--font-feature-mono);
  line-height: 100%;
  letter-spacing: -0.04em;
  text-transform: none;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin-block-end: 16px;
}

.label {
  font-family: var(--font-feature-mono);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-transform: none;
}

.input {
  padding: 7px 32px;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.06em;
  }

  @media (max-width: 768px) {
    padding: 4px 12px;
  }
}

.select {
  border-radius: 0;
  border-width: 1px;
}

.fieldsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    column-gap: 24px;
    row-gap: 16px;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.labelWrapper {
  display: flex;
  align-items: center;
  gap: 11px;
}

.checkboxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;

  &__radioButton {
    & span {
      padding: 0;
    }

    & p {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: -0.04em;
      color: var(--color-text-primary);
    }
  }

  &__errorMessage {
    position: absolute;
    top: 100%;
    font-family: var(--font-feature-mono);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-primary-blue);
    line-height: 140%;
    letter-spacing: -0.06em;
  }
}

.buttonsContainer {
  display: flex;
  gap: 40px;
  width: 100%;
}

.datePicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border: 1px solid var(--color-text-primary);
  padding-block: 12px;
  padding-inline-start: 32px;

  & * {
    font-size: 16px;
  }

  &.dateError {
    border-color: var(--color-primary-blue);
  }
}

.clearIconBtn {
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  line-height: 1;
  margin-inline-end: 10px;
}

.clearIconBtn:hover {
  color: var(--text-danger);
}

.error {
  color: #dc2626;
  text-align: center;
}

.datePopper {
  position: absolute;
  z-index: 99999 !important;
  transform: none !important;
  top: 80px !important;
  left: -10px !important;
}

:global(.react-datepicker-wrapper:has(.react-datepicker__input-container)) {
  width: 100% !important;
  height: 39px !important;
}

:global(.react-datepicker__input-container:has(#startAt)) {
  height: 39px;
}

:global(.react-datepicker__input-container:has(#endAt)) {
  height: 39px;
}

:global(#startAt) {
  font-family: var(--font-feat);
  font-size: 16px;
  color: inherit !important;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  border: none;

  &:disabled {
    cursor: default !important;
  }

  &::placeholder {
    font-family: var(--font-feat) !important;
    font-weight: 400 !important;
  }
}

:global(#endAt) {
  font-family: var(--font-feat);
  font-size: 16px;
  color: inherit !important;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  border: none;

  &:disabled {
    cursor: default !important;
  }

  &::placeholder {
    font-family: var(--font-feat) !important;
    font-weight: 400 !important;
  }
}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
}

:global(.react-datepicker__input-container) {
  display: flex !important;
}

:global(#startAt) {
  border: none;
  width: 100%;
  height: 36px;
  margin-block: auto;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer !important;

  &:focus-visible {
    outline: none !important;
  }
}

:global(#endAt) {
  border: none;
  width: 100%;
  height: 36px;
  margin-block: auto;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer !important;

  &:focus-visible {
    outline: none !important;
  }
}

:global(.react-datepicker__tab-loop__start) {
  display: none !important;
}

:global(.react-datepicker__month-container) {
  font-family: var(--font-feat) !important;
}

:global(.react-datepicker__header) {
  background-color: rgba(194, 223, 252, 0.5);
}