.cartSummary {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 72px;
  padding: clamp(20px, 4vw, 60px) clamp(15px, 2.7vw, 40px);
  border: 1px solid var(--color-text-primary);
  width: 33.33vw;
  max-width: 480px;

  @media (max-width: 800px) {
    width: 100%;
    max-width: none;
  }

  &Details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    & .mainText {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 28px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: -0.08em;
      opacity: 60%;
    }

    & .deliveryInfo {
      width: 100%;
      background-color: var(--color-bg-main);
      font-size: 20px;
      letter-spacing: -0.08em;
      line-height: 0.95;
      padding-block: 4px;
      text-align: center;
      margin-block-end: 12px;
      opacity: 60%;
    }
  }

  &Total {
    display: flex;
    justify-content: space-between;
    font-size: clamp(20px, 2.2vw, 32px);
    opacity: 1;
    letter-spacing: -0.06em;
    line-height: 1;
    font-family: var(--font-better-vcr), monospace;

    @media (max-width: 800px) {
      font-size: clamp(20px, 4vw, 32px);
    }
  }

  &Buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & .cartSummaryDiscount {
      display: flex;
      gap: 22px;

      @media (max-width: 1199px) {
        flex-direction: column;
      }

      &Input {
        flex: 1;
        min-width: 0;
        border: 1px solid var(--color-text-primary);
        border-radius: 36px;
        padding: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 1;
        letter-spacing: -0.06em;
        font-weight: 600;
        font-family: var(--font-feature-mono), monospace;
        color: var(--color-bg-secondary);
        box-sizing: border-box;
        height: 60px;

        @media (max-width: 1199px) {
          padding-block: 14px;
        }

        &::placeholder {
          font-family: var(--font-feature-mono), monospace;
          color: var(--color-bg-secondary);
        }
      }

      &Button {
        width: 140px;

        @media (max-width: 1199px) {
          width: 100%;
        }
      }
    }
  }
}
