.listenerForm {
  display: grid;
  grid-template:
    'cell-1-1 cell-1-2'
    'cell-2-1 cell-2-2';
  column-gap: 20px;
  row-gap: 40px;
}

.listenerForm > [class*="cell-"] > * {
  gap: 0px;
}

.listenerForm > [class*="cell-"] label {
  line-height: 130%;
  letter-spacing: -0.06em;
}

* > .cell-1-1 {
  grid-area: cell-1-1;
}

* > .cell-1-2 {
  grid-area: cell-1-2;
  
}

* > .cell-2-1 {
  grid-area: cell-2-1;
}

* > .cell-2-2 {
  grid-area: cell-2-2;
}