.listenerForm {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template:
    'cell-1-1 cell-1-2'
    'cell-2-1 cell-2-2';
  column-gap: 20px;
  row-gap: 40px;

  &  > [class*="cell-"] > * {
    gap: 0px;
  }

  & > [class*="cell-"] label {
    line-height: 130%;
    letter-spacing: -0.06em;
  }

  & input:disabled {
    opacity: 70%;
  }
}

@media (max-width: 768px) {
  .listenerForm {
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      'cell-1-1'
      'cell-1-2'
      'cell-2-1'
      'cell-2-2';
  }
}

* > .cell-1-1 {
  grid-area: cell-1-1;
}

* > .cell-1-2 {
  grid-area: cell-1-2;
  
}

* > .cell-2-1 {
  grid-area: cell-2-1;
}

* > .cell-2-2 {
  grid-area: cell-2-2;
}