.headerCartWithCounter {
  position: relative;
}

.cartCounter {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-bg-secondary);

  &Number {
    line-height: 1;
    color: var(--color-text-primary);
    font-weight: 800;
  }
}
