.confirmModal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  align-items: center;

  &__text {
    color: var(--color-text-primary);
    font-size: clamp(1rem, 0.4286rem + 1.1905vw, 1.5rem);
    text-align: center;
  }
}