.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 11px;

  &__label {
    font-family: var(--font-feature-mono);
    color: var(--color-text-primary);
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.06em;
    cursor: pointer;
  }

  &__markRequired {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.06em;
    font-family: var(--font-feature-mono);
    color: var(--color-primary-blue);
  }
}

.inputContainer {
  position: relative;

  &__button {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.input {
  width: 100%;
  border: 1px solid var(--outline-color);
  font-family: var(--font-feature-mono);
  font-size: 16px;
  line-height: 16px;
  color: var(--color-text-primary);
  background-color: transparent;
  padding: 12px 32px;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #161815;
    opacity: 40%;
    letter-spacing: -0.06em;
  }

  &.error {
    border: 1px solid var(--color-primary-blue);
  }
}
