.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(1.25rem, 0.8929rem + 1.7857vw, 2.5rem);
  padding: 25px 30px;
  width: 100%;
  max-width: 520px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

.text {
  font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.25rem);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: var(--color-text-primary);
  text-transform: none;
  text-align: center;
}

.accent {
  font-weight: 600;
  color: var(--color-text-accent-blue);
}

.title {
  font-family: var(--font-better-vcr);
  font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
