.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 284px;
  background-color: var(--color-accent-blue);
  overflow: hidden;
}

.back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/image_catalog_hero.png');
  background-repeat: no-repeat;
  background-position:center;
  background-size:auto;
  background-color: transparent;
  z-index: 2;
}

.img {
  position: absolute;
  width: 350px;
  height: 340px;
  z-index: 1;

  &_left {
    top: 40px;
    left: 35px;
    rotate: -30deg;
  }

  &_right {
    bottom: 60px;
    right: -20px;
    rotate: 35deg;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-better-vcr);
  font-size: 96px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  z-index: 3;
}