.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  inline-size: min(100%, 50.625rem);
  margin-inline: auto;
}

.stateMessage {
  inline-size: min(100%, 50.625rem);
  font-family: var(--font-feature-mono), "Feature Mono", monospace;
  font-size: 1.25rem;
  line-height: 1.2;
  color: var(--color-text-primary);
}
