.cardWrapper {
  position: relative;
  width: 100%;
  max-width: 408px;
  min-width: 0;
  //width: min(100%, var(--card-artist-width, 404px));
  height: auto;
  aspect-ratio: 4 / 3.5834;
  //filter: drop-shadow(var(--card-artist-shadow, 6px 6px #000));

  &::before {
    content: "";
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    mask-image: conic-gradient(from 90deg at 79% 35%, #000 221.7deg, #0000 222deg);
    background-position: -16px 0px;
    inset: -3px -6px 0px -3px;
  }
}

.cardCorner {
  width: 100%;
  height: 100%;
  padding-top: var(--card-artist-corner-height, 8.66337%);
  background-color: var(--color-bg-secondary);
  position: relative;
  mask-image: conic-gradient(from 90deg at 63% 19%, #000 221.7deg, #0000 223deg);
}

.card {
  top: var(--card-artist-card-top, 9.39227%);
  background-color: var(--card-artist-background, var(--color-accent-blue));
  font-family: var(--font-better-vcr);
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: -3px;
  right: 3px;
  top: 35.5px;
  border: 1px solid var(--outline-color);
  box-shadow: 6px 6px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 36px;
    height: 36px;
    z-index: 3;
    cursor: pointer;
  }

  &__description {
    position: absolute;
    bottom: 12.199%; // 236px;
    left: 50%;
    max-width: 90%;
    transform: translate(-50%);
    text-align: center;
    padding: 15px 28px;
    background-color: var(--background);
    border: 1px solid var(--color-text-primary);
    z-index: 3;

    &__title {
      font-size: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
