.container {
  min-width: 36vw;
  padding: 20px 40px 60px;

  @media(max-width: 480px) {
    padding: 20px;
  }

  @media(max-width: 480px) {
    padding-block-start: 30px;
    padding-inline: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--color-text-primary);

  &__title {
    font-family: var(--font-better-vcr);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: none;

    @media(max-width: 480px) {
    font-size: 18px;
  }
  }
}