.suggestionsSelectInput {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media (max-width: 859px) {
    flex-direction: column;
  }
}

.locationSuggestion {
  gap: 0;
  & input {
    height: 40px;
  }

  & label {
    letter-spacing: -0.06em;
    line-height: 1.3;
  }
}
