.card {
  max-width: 944px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-text-primary);

  &_expanded .content {
    display: flex;
  }

  &_expanded .arrow {
    transform: rotate(180deg);
  }

  &_expanded .header {
    padding-block-end: 0;
  }
}

.arrow {
  width: 28px;
  height: 28px;
}

.content {
  display: none;
  flex-direction: column;
  gap: 1.389vw;
  padding-inline: 1.389vw;
  padding-block-end: 1.389vw;
}

.header {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-inline: 1.389vw;
  padding-block: 1.389vw;
}

.info {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 0.278vw;
}

.orderId {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.04em;
}

.summary {
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
  letter-spacing: -0.04em;
  font-family: var(--font-feature-mono), monospace;
}

.products {
  display: flex;
  gap: 1.111vw;
}

.buttons {
  width: 45%;
  display: flex;
  gap: 1.389vw;
}