.artistSettingsDelivery {
  &Option {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 5px;
    width: 100%;

    &.pickupPoint {
      border: none;
    }

    @media (max-width: 1124px) {
      flex-wrap: wrap;
    }
  }

  &Address {
    &Wrapper {
      width: 100%;
      position: relative;
    }

    & label {
      letter-spacing: -0.06em;
      pointer-events: none;
    }

    & input {
      height: 40px;
    }

    &DeleteButton {
      position: absolute;
      bottom: 10px;
      right: 8px;
      content: "";
      z-index: 1;
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      background: url("/icons/x-circle.svg");
      opacity: 0.5;
      cursor: pointer;

      &:disabled {
        pointer-events: none;
      }
    }
  }

  &Date {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &Label {
      font-family: var(--font-feat);
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: -0.06em;
    }

    &Picker {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      border: 1px solid var(--color-text-primary);
      padding-block: 12px;
      padding-inline-start: 32px;

      & * {
        font-size: 16px;
      }

      &.dateError {
        border-color: var(--color-primary-blue);
      }
    }

    &Popper {
      position: absolute;
      z-index: 9999 !important;
      transform: none !important;
      top: 80px !important;
      left: 5px !important;
    }
  }
}

:global(.react-datepicker-wrapper:has(.react-datepicker__input-container)) {
  width: 100% !important;
}

:global(.react-datepicker__input-container:has(#pickup-date)) {
  height: 39px;
}

:global(#pickup-date) {
  font-family: var(--font-feat);
  font-size: 16px;
  color: inherit !important;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  border: none;

  &:disabled {
    cursor: default !important;
  }

  &::placeholder {
    font-family: var(--font-feat) !important;
    font-weight: 400 !important;
  }
}

:global(.react-datepicker-wrapper),
:global(.react-datepicker__input-container) {
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
}

:global(.react-datepicker__input-container) {
  display: flex !important;
}

:global(#pickup-date) {
  border: none;
  width: 100%;
  height: 36px;
  margin-block: auto;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer !important;

  &:focus-visible {
    outline: none !important;
  }
}

:global(.react-datepicker__tab-loop__start) {
  display: none !important;
}
/*
:global(.calendar) {
  display: block !important;

  & > :first-child {
    margin-block-end: 4px;
  }
}*/

:global(.react-datepicker__month-container) {
  font-family: var(--font-feat) !important;
}

:global(.react-datepicker__header) {
  background-color: rgba(194, 223, 252, 0.5);
}
