.title {
  font-family: var(--font-better-vcr);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-transform: none;
}

.text {
  font-weight: 500;
  letter-spacing: -0.04em;
}

.link {
  font-size: inherit;
  font-weight: inherit;
}